.body {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  background-color: #ccba96;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-left: 3%;
  padding-right: 3%;
}

/* Logo and Store Name */
.logoContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.storeName {
  font-size: 2.5rem;
  font-family: "Italiana";
  font-weight: 700;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
}

/* SHORTCUTS */
.shortcutContainer {
  display: flex;
  gap: 2rem;
}
.shortcuts {
  font-size: 1rem;
  font-family: "Junge";
  font-weight: 400;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.shortcuts {
  position: relative;
  cursor: pointer;
}

.shortcuts::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* adjust spacing from text */
  width: 0%;
  height: 2px;
  background: #000000;
  transition: width 0.3s ease;
}

.shortcuts:hover::after {
  width: 100%;
}

/* ICONS */
.iconsContainer {
  display: flex;
  gap: 2rem;
}

.icons {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}

.icons:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

@media (max-width: 1050px) {
  .shortcuts {
    display: none;
  }
}
